@import "tailwindcss";

@theme {
  --color-black-900: #414141;
  --color-primary-500: #1da077;
  --color-base: #fafafa;
  --color-secondary-500: #c33241;
  --color-secondary-50: #f9ebec;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
}
