@import "tailwindcss";

@theme {
  --color-black-900: #414141;
  --color-primary-500: #1da077;
  --color-base: #fafafa;
  --color-secondary-500: #c33241;
  --color-secondary-50: #f9ebec;
  --color-neutral-800: #1f2937;
}

@keyframes card-float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes card-float-reverse {
  0%,
  100% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }
}
